body {
  font-family: 'Space Mono', monospace !important;
  background-color: #000c05;
}

h1 {
  font-size: 50px !important;
}

a {
  text-decoration: none;
  color: black;
}

#particles-js {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.header {
  margin-top:70px;
  margin-bottom: -5px;
  font-size: 32px !important;
}


.sep {
  padding:5px;
  margin-top:-30px;
  font-size: 20px;
}

.jumbotron {
  float: left;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0);
}

.body-text-main {
  max-width: 716px;
  color: #00a713;
}

.body-text {
  max-width: 706px;
  transition-timing-function: ease-in-out;
  transition: border-bottom 0.15s;
}

.body-text:hover {
  text-decoration: none;
}

.links {
  max-width: 400px;
  padding-top: 40px;
  border-top: thick solid #000;
  border-top-width: 4px;
  border-radius: 0 !important;
}

.fa {
    padding-left: 0px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #00a713;
}

.fa:active {
  color: #00a713;
  text-decoration: none;
}

.fa:focus {
  color: #00a713;
  text-decoration: none;
}


.fa:hover {
  color: #00a713;
  text-decoration: none;
}

/* Facebook */
.fa-facebook {
    text-align: left;
}

.fa-github {
  padding-right: 40px;
}

.fa-medium {
  padding-left: 10px;
}

.fa-linkedin {
  padding-left: 25px;
}

.fa-envelope {
  padding-left: 35px;
}
